<head>
<link rel="stylesheet" id="personaproject-bootstrap-css" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/bootstrap.css?ver=4.5.8" type="text/css" media="all">
<link rel="stylesheet" id="personaproject-qtip-css" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/jquery.qtip.min.css?ver=4.5.8" type="text/css" media="all">
<link rel="stylesheet" id="personaproject-style-css" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/style.css?ver=4.5.8" type="text/css" media="all">
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
<link rel="https://api.w.org/" href="http://personaproject.martinprosperity.org/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://personaproject.martinprosperity.org/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://personaproject.martinprosperity.org/wp-includes/wlwmanifest.xml">
<meta name="generator" content="WordPress 4.5.8">
</head>

<body>
    <div class="persona-grid">
          <div class="container row-container">
              <div class="row">
                      <div class="g10-col-sm-2 persona-amy persona-cell" data-persona="amy">
                          <a class="persona-link" href="/amy/">
                              <div class="info-peek">
                                  <div class="info-default active">
                                      <!-- fill this with contextual content -->
                                      <h2>AMY</h2>
                                      <div class="artifact-icon icon-businesscard"></div>

                                      <p>Hopeful yogi, living the change she wants to see in the world</p>
                                  </div>
                                  <div class="info-filtered">
                                      <div class="persona-name"></div>
                                      <div class="filtered-property"></div>
                                      <div class="other-properties">
                                          <p>
                                              <span class="first-prop"></span><br>
                                              <span class="second-prop"></span><br>
                                              <span class="third-prop"></span>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="overlay"></div>
                              <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg">
                          </a>
                      </div>
                      <div class="g10-col-sm-2 persona-ida persona-cell" data-persona="ida">
                          <a class="persona-link" href="/ida/">
                              <div class="info-peek">
                                  <div class="info-default active">
                                      <!-- fill this with contextual content -->
                                      <h2>IDA</h2>
                                       <div class="artifact-icon icon-photo"></div>
                                      <p>Driven social worker, fighting on the frontlines of poverty</p>
                                  </div>
                                  <div class="info-filtered">
                                      <div class="persona-name"></div>
                                      <div class="filtered-property"></div>
                                      <div class="other-properties">
                                           <p>
                                                <span class="first-prop"></span><br>
                                                <span class="second-prop"></span><br>
                                                <span class="third-prop"></span>
                                           </p>
                                      </div>
                                  </div>
                                </div>
                                <div class="overlay"></div>
                                    <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/ida/ida_face_m.jpg">
                            </a>
                        </div>
            </div>
        </div>
    </div>
</body>
