<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MPI Persona Project</title>
<link rel="alternate" type="application/rss+xml" title="MPI Persona Project » Feed" href="http://personaproject.martinprosperity.org/feed/">
<link rel="alternate" type="application/rss+xml" title="MPI Persona Project » Comments Feed" href="http://personaproject.martinprosperity.org/comments/feed/">
		<script async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/personaproject.martinprosperity.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.8"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" id="personaproject-bootstrap-css" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/bootstrap.css?ver=4.5.8" type="text/css" media="all">
<link rel="stylesheet" id="personaproject-qtip-css" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/jquery.qtip.min.css?ver=4.5.8" type="text/css" media="all">
<link rel="stylesheet" id="personaproject-style-css" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/style.css?ver=4.5.8" type="text/css" media="all">
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
<link rel="https://api.w.org/" href="http://personaproject.martinprosperity.org/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://personaproject.martinprosperity.org/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://personaproject.martinprosperity.org/wp-includes/wlwmanifest.xml">
<meta name="generator" content="WordPress 4.5.8">
		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>


        <!-- Open graph -->
        <meta property="og:url" content="http://personaproject.martinprosperity.org/">
        <meta property="og:title" content="MPI Persona Project">
        <meta property="og:description" content="The Persona Project is an initiative to gain a deep understanding of real citizens. We sought out Americans from many walks of life, interviewing them to understand their personal experiences across the economy, government, politics, education and the American Dream.">
        <meta property="og:image" content="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/logos/logo-personaproject-home-2x.png">
        <meta property="og:type" content="article">

        <!-- Twitter card -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@MartinProsperiT">
        <meta name="twitter:title" content="MPI Persona Project">
        <meta name="twitter:description" content="The Persona Project is an initiative to gain a deep understanding of real citizens. We sought out Americans from many walks of life, interviewing them to understand their personal experiences across the economy, government, politics, education and the American Dream.">
        <meta name="twitter:image" content="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/logos/logo-personaproject-home-2x.png">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!--<link  rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link  rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" href="/css/jquery.modal.css" type="text/css" media="screen" />-->
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css">
</head>

<body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
                    <div class="top-nav home-nav">
                <div class="filter-container">
                <div class="container">

                    <div class="left-nav-group2">
                        <a href="http://martinprosperity.org"><img class="logo-mpi-full" width="98" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/logos/logo-martin-prosperity-institute.svg" alt="Martin Prosperity Institute"></a>
                    </div>
                    <div class="right-nav-group2">

                        <div class="filter-box">
                            <a class="btn filter-btn" href="#"><span class="whats-filtering">FILTER PERSONAS</span> <span class="release-filter"><img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/close-x.svg" width="18"></span></a>
                            <div class="filter-options">

                                <div class="option-container">
                                    <div class="option-title">Occupation</div>
                                    <div class="filter-option" data-filter-by="occupation"><span class="span-icon-creative">Creative</span></div>
                                    <div class="filter-option" data-filter-by="occupation"><span class="span-icon-routine">Routine</span></div>
                                </div>
                                <div class="option-container">
                                    <div class="option-title">Income</div>
                                    <div class="filter-option" data-filter-by="income">Below $75,000</div>
                                    <div class="filter-option" data-filter-by="income">Above $75,000</div>
                                </div>
                                 <div class="option-container">
                                    <div class="option-title">Education</div>
                                    <div class="filter-option" data-filter-by="education">High School</div>
                                    <div class="filter-option" data-filter-by="education">Post Secondary</div>
                                    <div class="filter-option" data-filter-by="education">Graduate</div>
                                </div>
                                <div class="option-container">
                                    <div class="option-title">Location</div>
                                    <div class="filter-option" data-filter-by="location">Northeast</div>
                                    <div class="filter-option" data-filter-by="location">Southeast</div>
                                    <div class="filter-option" data-filter-by="location">South</div>
                                    <div class="filter-option" data-filter-by="location">Midwest</div>
                                    <div class="filter-option" data-filter-by="location">West</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>


    <div class="persona-grid">

        <div class="container row-container">
            <div class="row">
                <div class="g10-col-sm-4">
                    <div class="big-logo">
                        <img width="391" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/logos/logo-personaproject-home-1x.png" alt="Persona Project">
                        <a class="btn about-project-btn" data-toggle="modal" data-target="#about-modal">ABOUT THE PROJECT</a>
                    </div>
                </div>

                <div class="g10-col-sm-2 persona-amy persona-cell" data-persona="amy">

                    <a class="persona-link" href="/amy/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>AMY</h2>
                                <div class="artifact-icon icon-businesscard"></div>

                                <p>Hopeful yogi, living the change she wants to see in the world</p>
                            </div>

                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg">
                    </a>

                </div>
                <div class="g10-col-sm-2 persona-ida persona-cell" data-persona="ida">

                    <a class="persona-link" href="/ida/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>IDA</h2>
                                 <div class="artifact-icon icon-photo"></div>
                                <p>Driven social worker, fighting on the frontlines of poverty</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/ida/ida_face_m.jpg">
                    </a>

                </div>
                <div class="g10-col-sm-2 persona-matt persona-cell" data-persona="matt">
                     <a class="persona-link" href="/matt/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>MATT</h2>
                                <div class="artifact-icon icon-firehat"></div>
                                <p>Frontline realist, who works to live</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/matt/matt_face_m.jpg">
                    </a>
                </div>
            </div>
             <div class="row">
                <div class="g10-col-sm-2 persona-jandd persona-cell" data-persona="jandd">
                    <a class="persona-link" href="/danandjulie/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>DAN &amp; JULIE</h2>
                                <div class="artifact-icon icon-flag"></div>
                                <p>Hard-working, community-minded couple living within their means</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/jandd/jandd_face_m.jpg">
                    </a>
                </div>
                <div class="g10-col-sm-2 persona-brett persona-cell" data-persona="brett">
                    <a class="persona-link" href="/brett/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>BRETT</h2>
                                <div class="artifact-icon icon-football"></div>
                                <p>Nimble self-starter, focused on his next move</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/brett/brett_face_m.jpg">
                    </a>
                </div>
                <div class="g10-col-sm-2 persona-kira persona-cell" data-persona="kira">
                    <a class="persona-link" href="/kira/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>KIRA</h2>
                                <div class="artifact-icon icon-necklace"></div>
                                <p>Jaded waitress, surviving on escapism</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/kira/kira_face_m.jpg">
                    </a>
                </div>
                <div class="g10-col-sm-2 persona-andrew persona-cell" data-persona="andrew">
                  <a class="persona-link" href="/andrew/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>ANDREW</h2>
                                <div class="artifact-icon icon-football"></div>
                                <p>Blue-collar family man, who wants no one left behind</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/andrew/andrew_face_m.jpg">
                    </a>
                </div>
                <div class="g10-col-sm-2 persona-linda persona-cell" data-persona="linda">
                     <a class="persona-link" href="/linda/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>LINDA</h2>
                                <div class="artifact-icon icon-nursingpin"></div>
                                <p>Proud nurse, caught between hope and hopelessness</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/linda/linda_face_m.jpg">
                    </a>
                </div>
            </div>
             <div class="row">
                <div class="g10-col-sm-2 persona-sarah persona-cell" data-persona="sarah">
                   <a class="persona-link" href="/sarah/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>SARAH</h2>
                                <div class="artifact-icon icon-piggybank"></div>
                                <p>Disheartened teacher, struggling to make it all work</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/sarah/sarah_face_m.jpg">
                    </a>
                </div>
                <div class="g10-col-sm-2 persona-derek persona-cell" data-persona="derek">
                     <a class="persona-link" href="/derek/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>DEREK</h2>
                                <div class="artifact-icon icon-flag"></div>
                                <p>Mission-driven professional, ready for a change</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/derek/derek_face_m.jpg">
                    </a>
                </div>
                <div class="g10-col-sm-2 persona-greg persona-cell" data-persona="greg">
                    <a class="persona-link" href="/greg/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>GREG</h2>
                                <div class="artifact-icon icon-photo"></div>
                                <p>Staunch conservative, with the future all figured out</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/greg/greg_face_m.jpg">
                    </a>
                </div>
                <div class="g10-col-sm-2 persona-john persona-cell" data-persona="john">
                   <a class="persona-link" href="/john/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>JOHN</h2>
                                <div class="artifact-icon icon-football"></div>
                                <p>Inside-outsider, who just wants to help</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/john/john_face_m.jpg">
                    </a>
                </div>
                <div class="g10-col-sm-2 persona-ryan persona-cell" data-persona="ryan">
                     <a class="persona-link" href="/ryan/">
                        <div class="info-peek">
                            <div class="info-default active">
                                <!-- fill this with contextual content -->
                                <h2>RYAN</h2>
                                <div class="artifact-icon icon-doorknocker"></div>
                                <p>Devout family man, striving to be a master teacher</p>
                            </div>
                        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div></div>
                        <div class="overlay"></div>
                        <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/ryan/ryan_face_m.jpg">
                    </a>
                </div>
            </div>

        </div>
    </div>
    
    <div class="r-logo-wrap">
        <div class="container">
            <div class="right-nav-group2">
                 <img class="icon-rotman" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/logos/logo-rotman.svg" atl="Rotman">
            </div>
        </div>
    </div>



  <!-- Modal -->
        <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                 <div class="h1">Welcome to the MPI <span class="ouline-text">Persona Project</span></div>

                 <button type="button" class="close closemodal" data-dismiss="modal" aria-label="Close"><img width="25" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/close-x.svg" alt="Close button"></button>

              </div>
              <div class="modal-body gray-split">
                   <div class="row">
                    <div class="col-sm-6 pad-right">
                       <h2>What is the Persona Project?</h2>
                       <p>The Persona Project is an initiative to gain a deep understanding of real citizens. We sought out Americans from many walks of life, interviewing them to understand their personal experiences across the economy, government, politics, education and the American Dream.</p>
                       <h2>What is the goal of the project?</h2>
                       <p>It is to understand our user: the people who live within the American system today. Building on the work of our colleague, Richard Florida, we looked for individuals across two broad job categories: creative jobs (which involve independent judgment and decision making) and routine jobs (which do not). The output of the project is a set of personas, archetypes of the citizens for whom we’re designing solutions. Our hope is that this research acts as the catalyst for the design of meaningful interventions for these people.</p>
                    </div>
                    <div class="col-sm-6 pad-left gray-column">
                       <h2>The MPI Persona Project focuses on real people.</h2>
                       <p>Please help us to continue this focus by letting us know what stands out for you, and why it resonates. Send us an email at <a href="mailto:personaproject@martinprosperity.org">personaproject@<wbr>martinprosperity.org</a>.</p>
                       <h3>Highlight to share <img style="margin-left:24px;" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/highlight-share-popup.png"></h3>
                       <p style="margin-bottom: 154px;">As you explore the different personas, you can highlight the text that interests you and share that particular section of the persona to your social media.</p>

                    </div>
                </div>
                <span class="illustration-credit"><p>Credits</p>
                            <p>Project Team: Quinn Davidson, Josie Fung, Darren Karn, Alpesh Mistry, Melissa Pogue, Jennifer Riel &amp; Stefanie Schram</p>
                            <p>Designer: Michelle Hopgood</p>
                            <p>Illustrations: Lisa Smith</p>
                            <p>Website Design &amp; Development: Overdrive Design Ltd.</p></span>

                </div>

            </div>
          </div>
        </div>



    <div class="hidden">
        <!-- about popup -->



        <!-- fitler template -->
        <div class="info-filtered">
            <div class="persona-name"></div>
            <div class="filtered-property"></div>
            <div class="other-properties">
                <p>
                    <span class="first-prop"></span><br>
                    <span class="second-prop"></span><br>
                    <span class="third-prop"></span>
                </p>
            </div>
        </div>

    </div>






        <div class="footer">
            <div class="container">
                <div class="row tighter-columns">
                    <div class="g10-col-md-4 g10-col-lg-6 copyright-col">
                        <div class="copyright-wrapper">

                            <span class="snug-top">© 2016 | MARTIN PROSPERITY INSTITUTE</span>
                        </div>
                    </div>

                    <div class="g10-col-md-3 g10-col-lg-2">
                        <div class="social-wrapper">
                        <span class="snug-top">SHARE THE PERSONA PROJECT</span>

                          <a class="social-link share-twitter" target="_blank" href="http://twitter.com/intent/tweet?status=%23MPIPersonaProject+http%3A%2F%2Fpersonaproject.martinprosperity.org%2F" data-share-persona="Home" data-share-type="footer"><img height="29" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/icons/twitter-icon-white.svg" alt="Share on Twitter"></a>
                          <a class="social-link share-instagram" href="https://www.instagram.com/martinprosperity/" data-share-persona="Home" data-share-type="footer">
                            <img height="29" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/icons/instagram-icon-white.svg" alt="Share on Instagram">
                            </a>
                          <a class="social-link share-linkedin" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fpersonaproject.martinprosperity.org%2F&amp;title=%23MPIPersonaProject" data-share-persona="Home" data-share-type="footer"><img height="29" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/icons/linkedin-icon-white.svg" alt="Share on LinkedIn"></a>

                          <a class="social-link share-facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpersonaproject.martinprosperity.org%2F" data-share-persona="Home" data-share-type="footer"><img height="29" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/icons/facebook-icon-white.svg" alt="Share on Facebook"></a>


                          <a class="share-email" target="_blank" title="Email this to a friend" href="mailto:?subject=The%20MPI%20Persona%20Project&amp;body=Thought%20you%20might%20be%20interested%20in%20The%20MPI%20Persona%20Project.%20%0D%0Ahttp%3A%2F%2Fpersonaproject.martinprosperity.org%2F" data-share-persona="Home" data-share-type="footer"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>

                       </div>
                        <div class="text-size">
                            <a class="small" href="#">A</a>
                            <a class="regular" href="#" style="text-decoration: underline;">A</a>
                            <a class="large" href="#">A</a>
                        </div>
                    </div>
                    <div class="g10-col-md-3 g10-col-lg-2">
                        <span class="snug-top">
                        <a href="#" data-toggle="modal" data-target="#methodology-modal">METHODOLOGY</a><br>
                                                <a href="#" data-toggle="modal" data-target="#privacy-modal">PRIVACY</a><br>
                        <a href="#" data-toggle="modal" data-target="#disclaimer-modal">DISCLAIMER</a><br>
                        <a href="#" data-toggle="modal" data-target="#contact-modal">CONTACT</a><br>

                        </span>

                    </div>
                </div>
            </div>
        </div>




        <!-- Modal -->
        <div class="modal fade small-modal alternate-modal" id="privacy-modal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                 <div class="h1">PRIVACY</div>

                 <button type="button" class="close closemodal" data-dismiss="modal" aria-label="Close"><img width="25" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/close-x-inverse.svg" alt="Close button"></button>

              </div>
              <div class="modal-body">
                    <p>This privacy statement provides information about the personal information that <strong>The MPI Persona Project</strong>  collects, and the ways in which <strong>The MPI Persona Project</strong> uses that personal information.</p>

                    <div class="h2">What information does <strong>The MPI Persona Project</strong> collect?</div>


                    <p><strong>Data you intentionally share. </strong>
                    We may track the information you share about <strong>The MPI Persona Project</strong> in your social media accounts. </p>

                    <p>We track emoticon reactions in our database.</p>

                    <p>We may collect your personal information or data if you submit it to us in other contexts. For example, if you provide us with your opinions on <strong>The MPI Persona Project</strong>.</p>

                    <p>We collect your email addresses when you provide them to us. We will not share or sell your email address to a third party and will only use your email address to provide you with additional information on <strong>The MPI Persona Project</strong>. If you wish to have us delete your email address from our list, please contact MPI at <a href="mailto:personaproject@martinprosperity.org">personaproject@martinprosperity.org</a>.</p>

                    <p><strong>The MPI Persona Project</strong> will take reasonable precautions to prevent the misuse of your email.
                    </p>
                    <div class="h2">With whom do we share or disclose your information?</div>

                    <p>We may share opinions or personal details you have provided us as part of the ongoing Persona Project either as internal research, or publically. Your opinions or personal details would be shared and expressed anonymously.  Should we share or publish such opinions or personal details, it may be collected or published in any country the Martin Prosperity Institute  operates.</p>

                    <p><strong>Social Media Features.</strong>  Our website includes social media sharing features. Use of these features may allow the third party to collect your IP address, detect which page you are visiting on our site, and set a cookie to enable the feature to function properly. Your interactions with these features are governed by the privacy policy of the third party providing it.</p>


                    <p><strong>Cookies.</strong>  We use cookies on our website. Each cookie expires after a certain period of time. Should you wish, you can choose to remove or disable cookies via your browser. </p>


                    <p><strong>Google Analytics.</strong>  We have implemented on our website Google Analytics. Visitors to our website may opt out of certain types of Google Analytics tracking, by using the <a href="https://www.google.com/settings/u/0/ads/">Google Ad Preferences Manager</a>. If you do not wish to participate in Google Analytics, you may also download the <a href="https://tools.google.com/dlpage/gaoptout/">Google Analytics opt-out browser add-on</a>.</p>
                    <div class="h2">Should any changes to <strong>The MPI Persona Project</strong> privacy policy occur, they will be posted on this website.</div>

                </div>

            </div>
          </div>
        </div>


        <!-- Modal -->
        <div class="modal fade small-modal alternate-modal" id="methodology-modal" tabindex="-1" role="dialog" aria-labelledby="methodologyModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                 <div class="h1">METHODOLOGY</div>

                 <button type="button" class="close closemodal" data-dismiss="modal" aria-label="Close"><img width="25" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/close-x-inverse.svg" alt="Close button"></button>

              </div>
              <div class="modal-body">
                     <p>For this set of interviews, we focused on working, middle-class Americans. Building on the work of our colleague Richard Florida, we looked for individuals across two broad job categories: creative jobs (which involve independent judgment and decision making) and routine jobs (which do not). We also attempted to recruit people working across Michael Porter’s industry types: local industries (which serve the local population) and traded industries (which sell outside the local area);</p>

                   <table>
                        <tbody><tr><th><div class="h2">Job types:</div></th><th><div class="h2">Industry types:</div></th></tr>
                            <tr> <td><p><img class="prefix-group-icon" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/icons/group/routine_16px.png" alt="Routine icon">Routine</p></td>

                             <td><p><img class="prefix-group-icon" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/icons/group/local_16px.png" alt="Local icon">Local</p></td>
                        </tr>
                        <tr>
                            <td><p><img class="prefix-group-icon" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/icons/group/creative_16px.png" alt="Creative icon">Creative</p></td>

                            <td><p><img class="prefix-group-icon" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/icons/group/traded_16px.png" alt="Traded icon">Traded</p></td>
                        </tr>
                    </tbody></table>
                    <p>
                    In each group, we have attempted to match typical characteristics (age, gender, race) against the typical demographics of that industry group. We have also attempted to balance participants by region (as much as possible in a small sample).</p>
                    <p>
                    One-on-one, ethnographic interviews were conducted to understand our user. Topics were wide-ranging, but typically covered the economy, education, politics, government and the American Dream. Some stories may contain inappropriate content for children.</p>

                </div>

            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade small-modal alternate-modal" id="disclaimer-modal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                 <div class="h1">DISCLAIMER</div>

                 <button type="button" class="close closemodal" data-dismiss="modal" aria-label="Close"><img width="25" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/close-x-inverse.svg" alt="Close button"></button>

              </div>
              <div class="modal-body">
                    <p>We used our interviews to craft 13 personas, each based on a real person we met. The interviewees’ names have been changed, and the images are representative rather than actual pictures of the individuals, to maintain their privacy.</p>

                </div>

            </div>
          </div>
        </div>

         <!-- Modal -->
        <div class="modal fade small-modal alternate-modal" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                 <div class="h1">CONTACT</div>

                 <button type="button" class="close closemodal" data-dismiss="modal" aria-label="Close"><img width="25" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/close-x-inverse.svg" alt="Close button"></button>

              </div>
              <div class="modal-body">
                   <p>We’d love to hear from you!<br>Email us at <a href="mailto:personaproject@martinprosperity.org">personaproject@<wbr>martinprosperity.org</a>. </p>

                </div>

            </div>
          </div>
        </div>


         <script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/personaproject.martinprosperity.org\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
/* ]]> */
</script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.4.2"></script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/js/navigation.js?ver=20151215"></script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/js/skip-link-focus-fix.js?ver=20151215"></script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/js/vendor/bootstrap-3.3.6.min.js?ver=20160610"></script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/js/vendor/jquery.inview.min.js?ver=20160610"></script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/js/vendor/jquery.qtip.min.js?ver=20160612"></script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/js/main.min.js?ver=20160612"></script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-includes/js/wp-embed.min.js?ver=4.5.8"></script>

         <script>

          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-38508739-2', 'auto');
          ga('send', 'pageview');

            window.gaTrackEvent = function(category, action, label) {
            ga('send', 'event', category, action, label);
          }


        </script><div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google 翻译"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">原文</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">提供更好的翻译建议</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div>


  <div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div>

</body>
