 <!-- 第一部分表头 -->
<div class="top-nav home-nav">
    <div class="filter-container">
        <div class="container">
            <div class="left-nav-group2">
                <a href="http://martinprosperity.org"><img class="logo-mpi-full" width="98" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/logos/logo-martin-prosperity-institute.svg" alt="Martin Prosperity Institute"></a>
            </div>

            <div class="right-nav-group2">
                <div class="filter-box">
                    <a class="btn filter-btn" href="#"><span class="whats-filtering">FILTER PERSONAS</span> <span class="release-filter"><img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/close-x.svg" width="18"></span></a>

                    <div class="filter-options">
                        <div class="option-container">
                            <div class="option-title">Occupation</div>
                            <div class="filter-option" data-filter-by="occupation"><span class="span-icon-creative">Creative</span></div>
                            <div class="filter-option" data-filter-by="occupation"><span class="span-icon-routine">Routine</span></div>
                        </div>
                        <div class="option-container">
                            <div class="option-title">Income</div>
                            <div class="filter-option" data-filter-by="income">Below $75,000</div>
                            <div class="filter-option" data-filter-by="income">Above $75,000</div>
                        </div>
                         <div class="option-container">
                            <div class="option-title">Education</div>
                            <div class="filter-option" data-filter-by="education">High School</div>
                            <div class="filter-option" data-filter-by="education">Post Secondary</div>
                            <div class="filter-option" data-filter-by="education">Graduate</div>
                        </div>
                        <div class="option-container">
                            <div class="option-title">Location</div>
                            <div class="filter-option" data-filter-by="location">Northeast</div>
                            <div class="filter-option" data-filter-by="location">Southeast</div>
                            <div class="filter-option" data-filter-by="location">South</div>
                            <div class="filter-option" data-filter-by="location">Midwest</div>
                            <div class="filter-option" data-filter-by="location">West</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
